<div class="text-center">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h2 class="h3 mb-3 font-weight-normal">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    <br>

    <%= f.label :password, class: "sr-only" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New Password" %>

    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>

    <br>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  <br>
  <%= render "users/shared/links" %>
</div>
