<!DOCTYPE html>
<html>
  <head>
    <title>DeviseExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%- if current_user.nil? %>
      <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%- else -%>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%- end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class="message">
        <% flash.each do |message_type, message| %>
        <%- next unless ['alert', 'notice'].include?(message_type)  %>
        <div class="alert alert-<%= flash_class_name(message_type) %> alert-dismissable">
            <span><%= message %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
